// =================================
// Disables flex grid and disables wrapping of it's children.
// =================================
@mixin overflow-container {
	display: block;
	white-space: nowrap;
	overflow-x: scroll;
	margin-left: 0;
	-webkit-overflow-scrolling: touch;
}


// =================================
// Turns node into inline-block & removes grid padding on first item.
// =================================
@mixin overflow-slide {
	display: inline-block;
	&:first-of-type {
		padding-left: 0;
	}
}