// number of columns
$columns: 12;

// gutters
$gutter: 20px;
$gutter-sm: 20px;
$gutter-md: 20px;
$gutter-lg: 20px;

// breakpoints
$bp-baby-bear: 620px;
$bp-mama-bear: 980px;
$bp-papa-bear: 1200px;

// class prefixes
$mobile-prefix: "col-";
$small-prefix: "col-sm-";
$medium-prefix: "col-md-";
$large-prefix: "col-lg-";